@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,600;0,700;1,700&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

/* header satrts */
header {
    background-image: url('../photos/banner1.png');
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.header-description h2 {
    color: #151414;
    text-align: right;
    font-size: 65px;
    font-weight: 700;
    padding-top: 230px;
    margin: 0px 300px 10px 1030px;
}

.header-description p {
    color: #444343;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-top: 30px;
    margin: 0px 300px 30px 1200px;
}

.header-description button {
    color: #FFF;
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    border-radius: 7px;
    background: #F15B22;
    border: 0px;
    padding: 30px;
    margin: 0px 230px 170px 1450px;
}

/* header end  */

/* failure section starts */

.my-failures {
    display: flex;
    margin-top: 200px;
}

.failure-photo {
    width: 50%;
    margin: 0px 150px;
}

.failure-content {
    width: 50%;
    padding: 250px 600px 150px 0px;
}

.failure-content h3 {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}

.failure-content p {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}
/* My Plans start */

.my-plans-container h3 {
color: #151414;
font-size: 40px;
font-weight: 700;
text-align: center;
margin: 150px auto;
}
.my-plans{
    display: flex;
    justify-content: space-around;
    margin: 150px 200px 150px 200px;
}
.my-plans h4{
 color #151414;
text-align: center;
font-size: 30px;
font-weight: 700;
}
.my-plans p{
    color:  #737272;
text-align: center;
font-size: 25px;
font-weight: 500;
margin-bottom: 100px;
}