@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,600;0,700;1,700&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

/* header satrts */
header {
    background-image: url('../photos/banner1.png');
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.header-description h2 {
    color: #151414;
    text-align: right;
    font-size: 65px;
    font-weight: 700;
    padding-top: 230px;
    margin: 0px 300px 10px 1030px;
}

.header-description p {
    color: #444343;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-top: 30px;
    margin: 0px 300px 30px 1200px;
}

.header-description button {
    color: #FFF;
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    border-radius: 7px;
    background: #F15B22;
    border: 0px;
    padding: 30px;
    margin: 0px 230px 170px 1450px;
}

/* header end  */

/* failure section starts */

.my-failures {
    display: flex;
    margin-top: 200px;
}

.failure-photo {
    width: 50%;
    margin: 0px 150px;
}

.failure-content {
    width: 50%;
    padding: 250px 600px 150px 0px;
}

.failure-content h3 {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}

.failure-content p {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

/* My Plans start */

.my-plans-container h3 {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin: 150px auto;
}

.my-plans {
    display: flex;
    justify-content: space-around;
    margin: 150px 200px 150px 200px;
}

.my-plans h4 {
    color #151414;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.my-plans p {
    color: #737272;
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 100px;
}

/* contact starts */

.Contact {
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0.00) 100%), url('../photos/watch.png');
    width: 1140px;
    height: 300px;
    margin: 0px 200px 100px 400px;

}

.Contact h3 {
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    padding-left: 60px;
    padding-right: 600px;
    padding-top: 40px;
}

.contact-btn {
    color: #F15B22;
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    border-radius: 7px;
    background: #FFF;
    border: 0px;
    padding: 30px;
    margin: 30px 60px;
}

/* dooter start */
footer {
    background: #151414;
    display: flex;
    justify-content: space-around;
    padding: 130px;

}

.future {
    width: 50%;
    padding-left: 100px;
}

.future h4 {
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
}

.future p {
    color: #FFF;
    font-size: 25px;
    font-weight: 400;
    line-height: 26px;
    padding-right: 100px;
}

.fa-brands {
    background-color: #F8F8F8;
    font-size: 26px;
    padding: 10px;
    border-radius: 50%;
}

.subscribe {
    width: 50%;
    margin-left: 400px;
}

.subscribe h5 {
    color: #FFF;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 10px;
}

.subscribe input {
    display: block;
    padding: 15px 0px;
    width: 50%;
}

.s-btn {
    margin-left: 0px;
}